<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalclock">

    <application
        android:label="Digital Shuaib Clock"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
